html, body {
  position: relative;
  overflow-x: hidden;
  /*background-image: linear-gradient(to right, #C4C5BA 50%, #926F51 50%); hadde vært kult å kjøre 50/50 med dette*/
}

body {
  background-color: #C4C5BA;
  font-family: "Roboto", sans-serif; /*denne fonten må lastes ned og testes!!!*/
  font-size: 1em;
  font-weight: normal;
  color: #0B1014;
  margin: 0 auto;
}

div {
  line-height: 150%;
}

p {
  margin-top: 0.5em;
}

header {
  margin-bottom: 4.2em;
}

/*
* === NAVIGATION CSS ===
*/

nav {
  text-align: center;
  z-index : 3;
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-weight: 100;
}

nav ul li:hover {
    background-color: lightgrey;
}

nav ul ul {
  position: absolute;
  min-width: 200px;
  background: lightgrey;
  display: none;
}

nav ul ul li {
  display: block;
  background: grey;
}

nav ul li i {
  color: #292929;
  float: right;
  padding-left: 10px;
}

nav div {
  background: lightgrey;
  color: #292929;
  font-size: 24px;
  padding: 0.3em;
  cursor: pointer;
  display: none;
}

/* Creating a nav for smaller screens than 768px*/
@media(max-width: 825px) {
  nav div {
    display: block;
  }

  #dropdown {
    display: none;
    position: static;
    background: #e3e3e3;
  }

  nav ul li {
    display: block;
  }

  nav ul ul {
    position: static;
  }

}

/*
* === END OF NAVIGATION CSS ===
*/


/* === START OF FOOTER CSS === */

/* the <footer> */
#paw {
  background-color: darkgray; /* This should probably be replaced by some form of 
  `background-image: url("example.jpg");` see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders for more info*/
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 0.8em;
}

.footerInfo {
  padding-right: 2em;
  padding-left: 2em;
  display: inline-block;
}

#pawLogo {
  height: 8em;
  display: inline-block;
}

/* === END OF FOOTER CSS === */

/*
* === OM OSS-CSS ===
*/

.kollasje {
  position: relative;
  margin-top: 60px;
  height: 550px;
  margin-bottom: 50px;
  display: flex;
}

#sitatOmoss {
  position: absolute;
  font-family: "Playfair Display";
  font-size: 1.5em;
  line-height: 2.3em;
  margin-top: 40px;
  left: 15%;
  width: 290px;
  height: 290px;
  padding: 50px;
  border: none;
  color: white;
  text-align: left;
  background-color: #79947e;
}

#omoss_dog_face {
  position: absolute;
  left: 46%;
  width: 160px;
  z-index: +1;
}

#omoss_dog_prizes {
  position: absolute;
  left: 50%;
  margin-right: 20px;
  width: 390px;
  height: 390px;
  margin-top: 90px;
  margin-left: 20px;
}

.sideordnet {
  width: 100%;
  margin-top: 50px;
}

.left-half, .right-half {
  display: inline-block;
  width: 50%;
  margin: auto;
  vertical-align: top;
  position: relative;
}

#omoss_client_with_dog {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  width: 400px;
}

#clientTextbox {
  position: absolute;
  width: 400px;
  margin-left: 20px;
}

/*
* === KONTAKT OSS-CSS ===
*/

#contactIntro {
  text-align: center;
}

#contact_client_square {
  float: right;
  margin-right: 20px;
  border-radius: 50%;
  width: 200px;
}

#contactForm {
  float: left;
  margin-left: 20px;
}

input[type=text], input[type=tel], textarea {
  width: 210px;
  padding: 2px 2px;
}

textarea {
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
}

/* === START OF FOOTER CSS === */

/* the <footer> */
#paw {
  background-color: darkgray; /* This should probably be replaced by some form of 
  `background-image: url("example.jpg");` see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Backgrounds_and_Borders for more info*/
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 0.8em;
}

.footerInfo {
  padding-right: 2em;
  padding-left: 2em;
  display: inline-block;
}

#pawLogo {
  height: 8em;
  display: inline-block;
}

/* === END OF FOOTER CSS === */

a {
  color:#0B1014;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #2F80ED;
}

 /* 
 ===== START OF SIMEN PAGES CSS =====
 */
 .tekstBic {
  margin-bottom: 10%;
}

#tekstBic {
  text-align: justify;
  position: relative;
  width: 60%;
  left: 20%;
  right: 20%;
  color: #484646;
  font-family: "Roboto", sans-serif;
}

#toppBic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#link {
  text-align: center;
}

#link a {
  color: #39CCCC
}

#listeBic li {
  font-size: 24px;
}

#tekstAct {
  text-align: justify;
  position: relative;
  width: 80%;
  left: 10%;
  right: 10%;
  color: #484646;
  font-family: "Roboto", sans-serif;
}

#toppbilde {
  width: 100%;
}

#topp {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#shows {
  display: inline-block;
  margin-bottom: 5%;
}

#shows p {
  width: 45%;
  margin-left: 2%;
}

#shows img {
  width: 50%;
  float: right;
  overflow: auto;
  margin-top: 7%;
  margin-right: 1%;

}

#awards {
  display: inline-block;
  margin-bottom: 5%;
}

#awards img {
  width: 50%;
  float: left;
  margin-top: 7%;
  margin-right: 1%;
}

#awards p {
  width: 45%;
  float: right;
  margin-right: 2%;
}

#agility {
  display: inline-block;
  margin-bottom: 5%;
}

#agility img {
  width: 50%;
  float: right;
  margin-top: 7%;
  margin-right: 1%;
}

#agility p {
  width: 45%;
  float: left;
  margin-left: 2%;
}

@media (max-width: 1000px) {
  #tekstAct {
    width: 90%;
    left: 5%;
    right: 5%;
  }
  #shows img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  #shows p {
    width: 100%;
  }
  #awards img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  #awards p {
    width: 100%;
  }
  #agility img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
  }
  #agility p {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #tekstBic {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
/*
===== END OF SIMEN PAGES CSS ======
*/

/*
====  START of teigestova.html ===
*/

#start {
  position: relative;
  top: 0;
  left: 0;
}

#imageHeader {
  width: 100%;
  height: 100%;
  margin: 0;
  /*display: block;*/
  position: relative;
  top: 0;
  left: 0;
  border-bottom-right-radius: 1%;
}

#logo {
  position: absolute;
  top: 3em;
  z-index: 1;
}

.intro {
  position: relative;
  left: 5%;
  top: 15%;
  margin: 0;
  margin-left: 48%;
  margin-right: 10%;
  line-height: 2em;
  font-size: 1.5em;
  text-align: center;
}

#introContainer {
  height: 100%;
}

#imageWelcome {
  object-fit: cover;
  max-width: 50%;
  height: 100%;
  position: relative;
  float: left;
  border-bottom-right-radius: 5%;
}

.dogs {
  position: relative;
  width: 100%;
  height: 80%;
  padding-top: 5%;
}

.dogsText {
  text-align: center;
  max-width: 25%;
  margin: 1% 5%;
  position: relative;
  top: 5%;
  float: left;
  width: 23%;
}

.dogs > h2 {
  position: relative;
  top: 5%;
  text-align: center;
}

.imageDogs {
  object-fit: cover;
  width: 22%;
  height: 50%;
  margin: 0% 5%;
  position: relative;
  top: 5%;
  float: left;
  border-style: double;
  border-color: black;
  border-radius: 5%;
}

#monochrome {
  max-width: 100%;
}

.monochromeParagraph {
  position: relative;
  margin: 5% 5% 0 5%;
  float: left;
  max-width: 40%;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.5em;
}

#imageMonochrome {
  object-fit: cover;
  max-width: 50%;
  height: 100%;
  margin: 0;
  position: relative;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

#contactContainer {
  height: 75%;
}

.formClient {
  position: relative;
  left: 55%;
  bottom: 13em;
  font-size: 1.5em;
  line-height: 1.1em;
  width: 15%;
  color: black;
}

#imageClient {
  max-width: 25%;
  max-height: 65%;
  position: relative;
  left: 15%;
  top: 4em;
  border-radius: 5%;
}

/* The CSS below is necessary for the image viewer, basically it only triggers when the user presses a button and the imageView.js script is running*/

/* The imageViewer class is used on the div element conatining image which should not be displayed unless the user clicks on a picture,
thereby calling the function which changes the styling to display the imageViewer div element. This styling turns the background black (due to higher
z-index priority) and disables scrolling.  */
.imageViewer {
  display: none;
  position: fixed;
  top: 0;  /* Need to specify this in order for z-index to work */
  left: 0;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* This is used for the content itself, setting the parameters for how much of the screen it can cover. */
.viewerContent {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* Styles the 'X' button used to close the viewer. */

.closeViewer {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: rgba(146, 111, 81, 0.8);
}

.closeViewer:hover,
.closeViewer:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*The following function disables the display of all the full sized images (by class tag).*/

.fullSizeImage {
  display: none;
}

/* Styles the 'previous image' and 'next image' buttons. */

.nextImage, .previousImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(146, 111, 81, 0.8);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.nextImage {
  right: 0;
}

.previousImage {
  left: 0;
}

/* Under begynner jeg med en class som inneholder korrekte displays for fullsizeimage */
.fullSizeImage {
  display: block;
}

@media only screen and (max-width: 900px) {
  #imageHeader {
    height: 50%;
  }
  
  #logo {
    height: 5%;
  }
  
  .intro {
    font-size: 12px;
    max-width: 100%;
    margin-left: 0;

  }
  
  #introContainer {
    height: 50%;
  }
  
  #imageWelcome {
    max-height: 50%;
    max-width: 100%;
    margin: 5% 25% 0% 25%;
    border-radius: 5%;
  }
  
  .dogs {
    height: 50%;
    margin-top: 25%;
  }
  
  .dogsText {
    font-size: 11px;
  }
  
  .dogs > h2 {
    font-size: 14px; 
  }
  
  .imageDogs {
    max-height: 40%;
    margin: 5% 2%;
    left: 7%;
  }
  
  #monochrome {
    max-height: 100%;
  }
  
  .monochromeParagraph {
    font-size: 12px;
    max-width: 100%;
  }
  
  #imageMonochrome {
    height: 50%;
    margin: 5% 25% 0% 25%;
    border-radius: 5%;
  }
  
  #contactContainer {
    height: 90%;
    width: 75%;
    top: 1em;
  }
  
  .formClient {
    font-size: 14px;
    margin-top: 5%;
  }
  
  #imageClient {
    
  }