/*
----------------------------------
BODY
----------------------------------
*/

html,
body {
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #e0dada;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 46pt;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 30pt;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 26pt;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

p {
  line-height: 2em;
}

img {
  width: 100%;
}

/*
----------------------------------
END OF BODY
----------------------------------
*/

/*
----------------------------------
NAVIGATION BAR
----------------------------------
*/

nav {
  text-align: center;
  z-index: 3;
  background-color: #ccc7c7;
  position: relative;
  font-size: 20pt;
  color: #484646;
  height: 73px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #484646;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  display: block;
  font-weight: 100;
}

nav a:hover {
  font-weight: bold;
}

nav ul ul {
  background: #ccc7c7;
  min-width: 200px;
}

nav ul ul li {
  display: block;
}

nav div {
  padding: 0.3em;
  cursor: pointer;
  display: none;
}

nav li ul {
  position: absolute;
}
nav li ul li {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 200ms ease-in;
  -moz-transition: height 200ms ease-in;
  -o-transition: height 200ms ease-in;
  transition: height 200ms ease-in;
}
@media (min-width: 941px) {
  nav ul > li:hover ul li {
    height: 72px;
  }
}
/* Creating a nav for smaller screens than 768px*/
@media (max-width: 940px) {
  nav div {
    display: block;
  }

  #dropdown {
    display: none;
    position: static;
    background: #e3e3e3;
  }

  nav ul li {
    display: block;
  }

  nav ul ul {
    position: static;
  }
}
/*
----------------------------------
END OF NAVIGATION BAR
----------------------------------
*/

/*
----------------------------------
FOOTER
----------------------------------
*/

#paw {
  background: linear-gradient(rgba(83, 140, 109, 0.25),rgba(83, 140, 109, 0.75), #538c6d), url(../img/footerBack.jpg);
  background-size: cover;
  background-color: #538c6d;
  color: #ffffff;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  font-size: 0.8em;
}

.footerInfo {
  padding-right: 8%;
  padding-left: 8%;
  display: inline-block;
}

#pawLogo {
  height: 8em;
  width: auto;
  display: inline-block;
  opacity: 0.9;
}

#paw a {
  color: #ffffff;
}

#paw li {
  list-style-type: none;
}

/*
----------------------------------
END OF FOOTER
----------------------------------
*/

/*
----------------------------------
HOME
----------------------------------
*/

#start {
  position: relative;
  top: 0;
  left: 0;
  background-color: #ccc7c7;
}

#imageHeader {
  width: 100%;
  height: 100%;
  margin: 0;
  /*display: block;*/
  position: relative;
  top: 0;
  left: 0;
}

.logo {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 40%;
  opacity: 0.9;
  width: 20%;
}

#imageWelcome {
  width: 40%;
  height: 100%;
  margin: 0;
  border: transparent;
}

.intro {
  position: relative;
  float: left;
  margin: 0;
  line-height: 2em;
  text-align: left;
  max-width: 50ch;
}

#introContainer {
  float: right;
  width: 50%;
  height: 100%;
  margin: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  margin: 0 auto;
}

.imageDogs {
  position: relative;
  object-fit: cover;
  max-width: 75%;
  display: block;
  margin: auto;
}

.dogsText {
  text-align: center;
  width: 100%;
  margin: 1% 5%;
  position: relative;
  top: 5%;
  float: left;
}

p.dogsText {
  text-align: left;
  display: block;
  margin-left: 12%;
  width: 75%;
}

#monochrome {
  max-width: 100%;
  position: relative;
  margin-top: 5%;
  color: white;
}

#imageMonochrome {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

.monochromeParagraph {
  position: absolute;
  top: 10%;
  left: 6%;
  max-width: 32%;
  line-height: 1.7em;
  font-size: 17pt;
}

#contactContainer {
  margin-top: 7%;
  height: auto;
  margin-bottom: 4%;
}

#imageClient {
  width: 40%;
  height: 70%;
  position: relative;
  left: 5%;
}

.client {
  position: relative;
  line-height: 1.4em;
  color: black;
}

h2.client {
  margin-top: 0;
  text-align: left;
}

#contactContainer > div {
  width: 45%;
  position: relative;
  float: right;
  right: 5%;
}

@media (max-width: 940px) {
  .column {
    float: none;
    width: 100%;
  }
  .dogsText {
    margin: 1% auto auto auto;
  }
  .imageDogs {
    padding-top: 20px;
  }
  h2.client {
    margin-top: 0.4em;
  }

  #imageClient {
    display: block;
    width: 90%;
    height: auto;
    left: 0;
    margin: auto 5% auto 5%;
    top: 0;
  }
  #contactContainer > div {
    top: auto;
    width: 100%;
    left: 5%;
  }
  #imageWelcome {
    width: 100%;
  }
  #introContainer {
    width: 90%;
    float: none;
  }
  .intro {
    max-width: 100%;
  }
}

@media (max-width: 1054px) {
  .monochromeParagraph {
    position: relative;
    max-width: 90%;
  }
  #monochrome {
    color: inherit;
  }
}

/*
----------------------------------
END OF HOME
----------------------------------
*/

/*
----------------------------------
ABOUT US
----------------------------------
*/

#imageAbout {
  width: 100%;
  height: 100%;
  margin: 0;
  /*display: block;*/
  position: relative;
  top: 0;
  left: 0;
}

.introOmOss {
  position: relative;
  margin: 0 10% auto 10%;
}

.introOmOss h2 {
  margin: 6%;
  text-align: center;
}

.introOmOss p {
  line-height: 2em;
  max-width: 80ch;
  margin: 0 auto;
}

.collage {
  position: relative;
  margin-top: 30px;
}

.sideordnet {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#omoss_client_with_dog {
  width: 40%;
  height: 80%;
  margin: 0;
  position: relative;
  float: left;
  margin-left: 5%;
}

#clientTextbox {
  display: inline-block;
  margin-top: 0;
  width: 45%;
  position: relative;
  margin-right: 5%;
  line-height: 2em;
  margin: auto 5% auto 5%;
}

#omoss_dog_prizes {
  width: 90%;
  margin: auto 5% auto 5%;
}

#omoss_dog_face {
  position: absolute;
  left: 46%;
  width: 160px;
  z-index: +1;
}

#sitatOmoss {
  font-family: "Playfair Display";
  font-size: 1.3em;
  line-height: 2.3em;
  border: none;
  color: white;
  text-align: left;
  background-color: #79947e;
}

@media (min-width: 941px) {
  #sitatOmoss {
    margin-top: 40px;
    margin-left: 20px;
    right: 50%;
    width: 290px;
    height: 290px;
    padding: 40px;
    position: absolute;
    bottom: 2em;
  }

  #omoss_dog_prizes {
    position: relative;
    left: 50%;
    margin-right: 20px;
    width: 390px;
    height: 390px;
    margin-top: 90px;
    margin-left: 20px;
  }
}

/* CSS for smaller screens than 941px*/
@media (max-width: 941px) {
  #omoss_dog_face {
    display: none;
  }

  #sitatOmoss {
    display: block;
    position: static;
    margin: 0 5% auto 5%;
    padding: 3%;
  }

  #omoss_dog_prizes {
    display: block;
    position: static;
    margin: 0 auto;
    padding: 6%;
  }
  #clientTextbox {
    float: none;
    margin: 1em 10% 0 10%;
    width: auto;
  }
  #omoss_client_with_dog {
    display: block;
    width: 90%;
    margin: 0 5% 0 5%;
  }
}

/*
----------------------------------
END OF ABOUT US
----------------------------------
*/

/*
----------------------------------
OUR DOGS
----------------------------------
*/

#ourDogsText {
  max-width: 85ch;
  margin: auto 5% 0 5%;
  text-align: left;
}

.box {
  background-color: #eeeeee;
  width: 80%;
  height: auto;
  margin: 5% auto 5% auto;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.dogs {
  height: 120%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dogs > h2 {
  position: relative;
  text-align: center;
  margin: 5%;
}

.box li {
  list-style-type: none;
}

.ourDogsImg {
  width: 100%;
  height: auto;
}

.dogImgDiv {
  width: 95%;
  margin: 2.5% 2.5% auto 2.5%
}

.boxText > h3 {
  margin: 0;
}

@media (min-width: 940px) {
  .dogs {
    flex-direction: row;
  }
  .box {
    width: 25%;
  }
}

/*
----------------------------------
END OF OUR DOGS
----------------------------------
*/

/*
----------------------------------
BICHON HAVANAIS
----------------------------------
*/

#textBic h2 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 6%;
}

#tekstBic {
  position: relative;
  width: 60%;
  left: 20%;
  right: 20%;
}

#listeBic li {
  line-height: 1.5em;
}

#link {
  text-align: center;
  line-height: 2em;
  margin-bottom: 15%;
}

/*
----------------------------------
END OF BICHON HAVANAIS
----------------------------------
*/

/*
----------------------------------
OUR DOGS PARENT
----------------------------------
*/

.ourDogsParent_div img {
  float: right;
  max-height: 400px;
  margin: 4% 8% 0 8%;
}

.ourDogsParentImg {
  max-height: 100%;
}

.ourDogsParent_div {
  display: inline-block;
  height: 200px;
  margin: 0 2.5%;
}

#ourDogsParentText {
  margin: 5%;
}

#activitiesOne {
  width: 400px;
}
/*
----------------------------------
END OF GOLDIE
----------------------------------
*/
#tekstAct {
  text-align: justify;
  position: relative;
  width: 80%;
  left: 10%;
  right: 10%;
}

#activities_img_parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto auto 5% auto;
}

#activities_img_parent > div:nth-child(2) {
  width: 30%;
}

.activities_img_container {
  width: 20%;
  padding: 1%;
  background-color: #eeeeee;
}

.activities_img_container > img {
  height: 100%;
}

@media (max-width: 941px) {
  #tekstAct {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}

@media (max-width: 941px) {
  #tekstBic {
    width: 80%;
    left: 10%;
    right: 10%;
  }
}
/*
----------------------------------
CONTACT
----------------------------------
*/

#contactHeader {
  position: relative;
  margin: 0 auto;
}

#contactGroup {
  float: left;
  max-width: 520px;
  margin: 4% 8% 0 8%;
}

.right-half {
  float: right;
  margin-top: 7%;
  margin-right: 17%;
}

#contactContent {
  margin-bottom: 7%;
}

#googlemaps {
  margin: 0 auto;
}

/*
----------------------------------
END OF CONTACT
----------------------------------
*/

/*
----------------------------------
IMAGE VIEWER
----------------------------------
*/

/* The CSS below is necessary for the image viewer, basically it only triggers when
the user presses a button and the imageView.js script is running*/

/* The imageViewer class is used on the div element conatining image which should
not be displayed unless the user clicks on a picture,
thereby calling the funcction which changes the styling to display the imageViewer
div element. This styling turns the background black (due to higher
z-index priority) and disables scrolling.  */

.imageViewer {
  display: none;
  position: fixed;
  top: 0; /* Need to specify this in order for z-index to work */
  left: 0;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* This is used for the content itself, setting the parameters for how much of the screen it can cover. */
.viewerContent {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* Styles the 'X' button used to close the viewer. */
.closeViewer {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: rgba(146, 111, 81, 0.8);
}

.closeViewer:hover,
.closeViewer:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*The following function disables the display of all the full sized images (by class tag).*/
.fullSizeImage {
  display: none;
}

/* Styles the 'previous image' and 'next image' buttons. */
.nextImage,
.previousImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgba(146, 111, 81, 0.8);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.nextImage {
  right: 0;
}

.previousImage {
  left: 0;
}

/* Class for correct displays of fullsize images. */
.fullSizeImage {
  display: block;
}

@media only screen and (max-width: 940px) {
  #imageHeader {
    height: 50%;
  }

  #logo {
    height: 5%;
  }

  #headertry {
    width: 100%;
  }

  #just_blocking {
    height: 0px;
    border-style: none;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*
----------------------------------
END OF IMAGE VIEWER
----------------------------------
*/
