body {
  background: #E0E0E0;
  font-family: "Roboto", sans-serif; /*denne fonten må lastes ned og testes!!!*/
  font-size: 1em;
  font-weight: normal;
  color: #0B1014;
  margin: 0 auto;
  margin-bottom: 3.4em;
  max-width: 80%;
}

.mainContent {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #0B1014;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #0B1014;
  margin-top: 1.8em;
}
h3 {
  margin-top: 1.8em;
  margin-bottom: 0em;
  font-size: 1.2em;
}

h4 {

}

div {
  line-height: 150%;
}

p {
  margin-top: 0.5em;
}

/*
* === NAVIGATION CSS ===
*/

nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
    color: #292929;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-weight: 100;
}

nav ul li:hover {
    background-color: lightgrey;
}

nav ul ul {
  position: absolute;
  min-width: 200px;
  background: lightgrey;
  display: none;
}

nav ul ul li {
  display: block;
  background: grey;
}

nav ul li:hover ul {
  display: block;
}

nav ul li i {
  color: #292929;
  float: right;
  padding-left: 10px;
}

nav div {
  background: lightgrey;
  color: #292929;
  font-size: 24px;
  padding: 0.3em;
  cursor: pointer;
  display: none;
}

/* Creating a nav for smaller screens than 768px*/
@media(max-width: 825px) {
  nav div {
    display: block;
  }

  #dropdown {
    display: none;
    position: static;
    background: #e3e3e3;
  }

  nav ul li {
    display: block;
  }

  nav ul ul {
    position: static;
  }

}

/*
* === END OF NAVIGATION CSS ===
*/

header {
  margin-bottom: 4.2em;
}

footer {
  font-size:0.8em;
  margin-top: 5em;
}

a {
  color:#0B1014;
  font-weight: bold;
  text-decoration: none;
}

#imageHeader {
  max-width: 100%;
  margin: 0;
  display: block;
}

#imageStyle {
  max-width: 50%;
  height: 100%;
  margin: 0;
  position: relative;
}

.imageDogs {
  max-width: 25%;
  margin: 25% 5%;
  position: relative;
}

#imageGrayscale {
  max-width: 75%;
  height: 100%;
  margin: 0;
}

#imageClient {
  max-width: 20%;
  position: relative;
  border: 75%;
}

#imageBackground {

}

/*
* === OM OSS-CSS ===
*/

.kollasje {
  position: relative;
  margin-top: 60px;
  height: 550px;
  margin-bottom: 50px;
  display: flex;
}

#sitatOmoss {
  position: absolute;
  font-family: "Playfair Display";
  font-size: 1.5em;
  line-height: 2.3em;
  margin-top: 40px;
  left: 15%;
  width: 290px;
  height: 290px;
  padding: 50px;
  border: none;
  color: white;
  text-align: left;
  background-color: #79947e;
}

#omoss_dog_face {
  position: absolute;
  left: 46%;
  width: 160px;
  z-index: +1;
}

#omoss_dog_prizes {
  position: absolute;
  left: 50%;
  margin-right: 20px;
  width: 390px;
  height: 390px;
  margin-top: 90px;
  margin-left: 20px;
}

.sideordnet {
  width: 100%;
  margin-top: 50px;
}

.left-half, .right-half {
  display: inline-block;
  width: 50%;
  margin: auto;
  vertical-align: top;
  position: relative;
}

#omoss_client_with_dog {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  width: 400px;
}

#clientTextbox {
  position: absolute;
  width: 400px;
  margin-left: 20px;
}

/*
* === KONTAKT OSS-CSS ===
*/

#contactIntro {
  text-align: center;
}

#contact_client_square {
  float: right;
  margin-right: 20px;
  border-radius: 50%;
  width: 200px;
}

#contactForm {
  float: left;
  margin-left: 20px;
}

input[type=text], input[type=tel], textarea {
  width: 210px;
  padding: 2px 2px;
}

textarea {
  height: 100px;
  border: 1px solid #ccc;
  resize: none;
}


#map {
  float: right;
  margin-right: 20px;
}

#adresse {
  margin-left: 20px;
}

#headertry {
  width: 100%;
}
