body {
  background: #E0E0E0;
  font-family: "Roboto", sans-serif; /*denne fonten må lastes ned og testes!!!*/
  font-size: 1em;
  font-weight: normal;
  color: #0B1014;
  margin: 0 auto;
  margin-bottom: 3.4em;
}
h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  color: #0B1014;
}
h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #0B1014;
  margin-top: 1.8em;
}
h3 {
  margin-top: 1.8em;
  margin-bottom: 0em;
  font-size: 1.2em;
}

h4 {

}

div {
  line-height: 150%;
}

p {
  margin-top: 0.5em;
}

header {
  margin-bottom: 4.2em;
}

footer {
  font-size:0.8em;
  margin-top: 5em;
}

a {
  color:#0B1014;
  font-weight: bold;
  text-decoration: none;
}

a:hover {background-color: #2F80ED;}

#imageHeader {
  max-width: 100%;
  margin: 0;
  display: block;
}

#imageStyle {
  max-width: 50%;
  height: 100%;
  margin: 0;
  position: relative;
}

.imageDogs {
  max-width: 25%;
  margin: 25% 5%;
  position: relative;
}

#imageGrayscale {
  max-width: 75%;
  height: 100%;
  margin: 0;
}

#imageClient {
  max-width: 20%;
  position: relative;
  border: 75%;
}

#imageBackground {

}

.logo {

}