body {
  background: #F2F2F2;
  font-family: "Gandhi Serif", sans-serif; /*denne fonten må lastes ned og testes!!!*/
  font-size: 14pt;
  font-weight: normal;
  color: #333333;
  margin: 0 auto;
  min-width: 65ch;
  max-width: 75ch;
  margin-bottom: 3.4em;
}
h1 {
  font-family: "Gandhi Serif", sans-serif;
  font-size: 44pt;
  font-weight: 600;
  color: #000000;
}
h2 {
  font-family: "Gandhi Serif", sans-serif;
  font-size: 18pt;
  font-weight: 600;
  color: #ff8000;
  margin-top: 2.7em;
}
h3 {
  margin-top: 1.8em;
  margin-bottom: 0em;
  font-size: 16pt;
}
section {line-height: 150%;}
p {margin-top: 0.5em;}
#authors {font-size: 11pt;}
header {margin-bottom: 4.2em;}
footer {
  font-size:8pt;
  margin-top: 5em;
}
a {
  color:#333333;
  font-weight: bold;
  text-decoration: none;
}

a:hover {background-color: #ff8000;}

table, th, td {
    border: solid black 1px;
    margin: 1.5em auto;  
}

td {
    font-size: 0.9em;    /*setter relativt for å få responsiv*/
}

figcaption {
    font-size: 0.7em;
}